@model WebApplicationSistemaPesquisaFinal.Models.TB_Alternativas

@{
    ViewBag.Title = "Excluir Alternativa";
}
@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
</div>*@
<h2>Excluir Alternativa</h2>

<h3>Confirma a exclusão da Alternativa?</h3>
<div>
    @*<h4>Excluir Alternativa</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TB_Questoes.Questao)*@
            <label>Questão</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Questoes.Questao)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Alternativa)*@
            <label>Alternativa</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alternativa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
