<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>slqdbt-vspdop3.liquigas.hom:7777</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>slqdbt-vspdop3</MSDeployServiceURL>
    <DeployIisAppPath>SistemaPesquisaMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>liquihom\salqspadmd</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DEV_PESQUISA_SATISFACAOEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SLQDBT-VSPSQLDE.LIQUIGAS.HOM\SERVICE;Initial Catalog=DEV_PESQUISA_SATISFACAO;User ID=UsuaPesquisa;Password=liquigas2018;Context Connection=False;MultiSubnetFailover=False" Name="Data Source=SLQDBT-VSPSQLDE.LIQUIGAS.HOM\SERVICE;Initial Catalog=DEV_PESQUISA_SATISFACAO;User ID=UsuaPesquisa;Password=liquigas2018;MultipleActiveResultSets=True;Context Connection=False;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplicationSistemaPesquisaFinal.Models.DEV_PESQUISA_SATISFACAOEntities, WebApplicationSistemaPesquisaFinal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DEV_PESQUISA_SATISFACAOConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SLQDBT-VSPSQLDE\SERVICE;Initial Catalog=DEV_PESQUISA_SATISFACAO;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DEV_PESQUISA_SATISFACAOConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SLQDBT-VSPSQLDE\SERVICE;Initial Catalog=DEV_PESQUISA_SATISFACAO;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEV_PESQUISA_SATISFACAOConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DEV_PESQUISA_SATISFACAOEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ModelSistemaPesquisaFinal.csdl|res://*/Models.ModelSistemaPesquisaFinal.ssdl|res://*/Models.ModelSistemaPesquisaFinal.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SLQDBT-VSPSQLDE.LIQUIGAS.HOM\SERVICE;Initial Catalog=DEV_PESQUISA_SATISFACAO;User ID=UsuaPesquisa;Password=liquigas2018;MultipleActiveResultSets=True;Context Connection=False;MultiSubnetFailover=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>