<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Um erro ocorreu durante o processamento do seu pedido.</h2>
        @*<h2>Caso seja a exclusão de um item favor excluir seus vínculos antes de realizar a exclusão do mesmo.</h2>*@
    </hgroup>
</body>
</html>
