@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
    <h1>Solução de pesquisa</h1>
    <p class="lead">Solução de pesquisa flexível, editável, que suporta múltiplos navegadores.</p>
    <p><a href="~/Documentos/Manual do sistema de pesquisa.pdf" target="_blank"  class="btn btn-primary btn-lg">Help do Sistema&raquo;</a></p>
</div>*@
@*<div class="row">
    <div class="col-md-2" style="width:100%">

        <div class="panel panel-primary" id="painel-enquete">

            <div class="panel-heading">

                <p>Pesquisa</p>

            </div>

            <div class="panel-body">

                <p>Clique no link abaixo para responder a pesquisa:</p>

                @Html.ActionLink("Responder a Pesquisa", "Create", "TB_Respostas")

                <input type="text" name="opcao" value="1" checked />Otimo<br />

                <input type="checkbox" name="opcao" value="2" />Bom<br />

                <input type="range" name="opcao" value="3" />Ruim<br />

                <input type="datetime-local" name="opcao" value="3" />Prefiro não opnar1<br />

                <input type="radio" name="opcao" value="3" />Prefiro não opnar2<br />

                <input type="radio" name="opcao" value="3" />Prefiro não opnar3<br />

            </div>

            <div class="panel-footer">

                <button class="btn btn-primary" id="btnEnviarEnquete">Enviar</button>

            </div>

        </div>

    </div>
</div>*@



@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
